<!-- courosal ------------------------ --> 
<div>
  <app-usernavigationcomponent></app-usernavigationcomponent>
     @if (images) {
     <ngb-carousel>
       <ng-template ngbSlide>
         <div class="picsum-img-wrapper">
           <img [src]="images[0]" alt="Random first slide" />
         </div>
         <div class="carousel-caption">
           <h3><b>Fashion is like eating<br> shouldn't stick to the same menu</b></h3>
         </div>
       </ng-template>
       <ng-template ngbSlide>
         <div class="picsum-img-wrapper">
           <img [src]="images[1]" alt="Random second slide" />
         </div>
         <div class="carousel-caption">
           <h3><b>Fashion is like eating<br> shouldn't stick to the same menu</b></h3>
         </div>
       </ng-template>
       <ng-template ngbSlide>
         <div class="picsum-img-wrapper">
           <img [src]="images[2]" alt="Random third slide" />
         </div>
         <div class="carousel-caption">
           <h3><b>Fashion is like eating<br> shouldn't stick to the same menu</b></h3>
         </div>
       </ng-template>
     </ngb-carousel>
   }
 
 
   <div class="container">
     <strong><p>Our Highlights</p></strong>
     <div class="card-group row">
       <div class="col-sm-4 offset-1" *ngFor="let card of cards">
         <img class="card-img-top" [src]="card.imgPath" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">{{card.price }}</h5>
         <p class="card-text">{{card.productName }}</p>
         <button class="btn btn-primary" (click)="buyNow()">Buy Now</button>
         <!-- <button (click)="buyNow(product.id)">Buy Now</button> -->
         <!-- <a href="#" class="btn btn-primary">Buy Now</a> -->
       </div>
       </div>
       </div>
     </div>
 
     
 
 
 
   <!-- Footer ------------------------ --> 
 
   <footer>
     <div class="footer-content">
         <div class="footer-section-center">  
             <a href="/privacy">Privacy Policy</a> 
            
             <a href="/suppilerlogin">Join us as a supplier</a>
         </div>
         <div class="social-media">
             <a href="https://www.linkedin.com/login"><img src="Linkedin.jpeg" alt="LinkedIn"></a>
             <a href="https://www.instagram.com/accounts/login/?hl=en"><img src="instagram.jpeg" alt="Instagram"></a>
             <a href="https://www.facebook.com/"><img src="Facebook.jpeg" alt="Facebook"></a>
             <a href="https://x.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJteCI6IjIifQ%3D%3D%22%7D"><img src="Twitter.jpeg" alt="Twitter"></a>
         </div>
     </div>
     <div class="footer-bottom">
         <p>© All Rights Reserved | Powered by OnlineClothShop</p>
       <a href="/contactus">Feel Freely to contact us</a><br>
      
     </div>
 </footer>
 </div>
 
 
 
  
   