<div>
    <nav class="navbar navbar-expand-lg" style="background-color: #394648;">
        <div class="container-fluid">
          <!-- <a class="navbar-brand offset-0.5" href="/home">Home</a> -->
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
       
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item offset-1">
              <a class="navbar-brand offset-0.5" href="/home">Home</a>
              </li>

              <li class="nav-item offset-2">
                <a class="nav-link active" aria-current="page" href="/aboutus">About Us</a>
              </li>

              <li class="nav-item offset-2">
                <a class="nav-link" href="/products">Products</a>
              </li>
              <li class="nav-item dropdown offset-2">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Categories
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Men</a></li>
                  <li><a class="dropdown-item" href="#">Women</a></li>
                  <li><a class="dropdown-item" href="#">Girls</a></li>
                  <li><a class="dropdown-item" href="#">Boys</a></li>
                </ul>
              </li>
             
          
              <div class="login offset-2">
                <li class="nav-item offset-2">
                 
                  <a class="nav-link active" aria-current="page" href="/login">Login </a>
              
                  <!-- <button class="btn btn-outline-info" type="submit">Login</button> -->
                <!--  <a class="nav-link" href="#">Login</a> -->
                </li>
               </div>
            </ul>
            <form class="d-flex col-3 offset-0.5" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name ="search" [(ngModel)]="search">
  
              <button type="button" class="btn btn-outline-warning" (click)="searchallProducts()">Search</button>
            </form>
         
          </div>
        </div>
      </nav>
</div>

