<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" align="center">Suppiler Sign up</p>

                  <form class="mx-1 mx-md-4"  (ngSubmit)= "registerSuppiler()" [formGroup]="supplierForm">

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="shopName" type="text" id="form3Example1c" class="form-control" [(ngModel)]="shopName" />
                        <label class="form-label" for="form3Example1c">Shop Name</label>
                        <div *ngIf="supplierForm.controls['companyName']?.invalid && supplierForm.controls['companyName']?.touched">
                          <small class="text-danger" *ngIf="supplierForm.get('companyName')?.errors?.['required']">Company name is required.</small>
                          <small class="text-danger" *ngIf="supplierForm.get('companyName')?.errors?.['minlength']">Company name must be at least 3 characters long.</small>
                        </div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-id-card fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="gstNumber" type="text" id="form3Example1c" class="form-control" [(ngModel)]="gstNumber" />
                        <label class="form-label" for="form3Example1c">GST Number</label>
                        <div *ngIf="supplierForm.controls['gstNumber']?.invalid && supplierForm.controls['gstNumber']?.touched">
                          <small class="text-danger" *ngIf="supplierForm.get('gstNumber')?.errors?.['required']">GST number is required.</small>
                          <small class="text-danger" *ngIf="supplierForm.get('gstNumber')?.errors?.['pattern']">GST number must be 5 digits long.</small>
                        </div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="supplierName" type="text" id="form3Example1c" class="form-control" [(ngModel)]="supplierName"/>
                        <label class="form-label" for="form3Example1c">Your Name</label>
                        <div *ngIf="supplierForm.controls['name']?.invalid && supplierForm.controls['name']?.touched">
                          <small class="text-danger" *ngIf="supplierForm.get('name')?.errors?.['required']">Name is required.</small>
                          <small class="text-danger" *ngIf="supplierForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</small>
                        </div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" id="form3Example3c" class="form-control" formControlName="supplierEmail" [(ngModel)]="supplierEmail"/>
                        <label class="form-label" for="form3Example3c">Your Email</label>
                        <div *ngIf="supplierForm.controls['email']?.invalid && supplierForm.controls['email']?.touched">
                          <small class="text-danger" *ngIf="supplierForm.get('email')?.errors?.['required']">Email is required.</small>
                          <small class="text-danger" *ngIf="supplierForm.get('email')?.errors?.['email']">Invalid email format.</small>
                        </div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="supplierContact" type="number" id="form3Example3c" class="form-control" [(ngModel)]="supplierContact"/>
                        <label class="form-label" for="form3Example3c">Mobile Number</label>
                        <div *ngIf="supplierForm.controls['mobileNumber']?.invalid && supplierForm.controls['mobileNumber']?.touched">
                          <small class="text-danger" *ngIf="supplierForm.get('mobileNumber')?.errors?.['required']">Mobile number is required.</small>
                          <small class="text-danger" *ngIf="supplierForm.get('mobileNumber')?.errors?.['pattern']">Invalid mobile number format.</small>
                        </div>
                      </div>
                    </div>
  
                    <!-- <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-calendar-alt fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="dob" type="date" id="form3Example3c" class="form-control" />
                        <label class="form-label" for="form3Example3c">Date Of Birth</label>
                        <div *ngIf="supplierForm.controls['dob']?.invalid && supplierForm.controls['dob']?.touched">
                          <small class="text-danger" *ngIf="supplierForm.get('dob')?.errors?.['required']">Date of birth is required.</small>
                        </div>
                      </div>
                    </div> -->
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="shopAddress" type="text" id="form3Example3c" class="form-control" [(ngModel)]="shopAddress"/>
                        <label class="form-label" for="form3Example3c">Address</label>
                        <div *ngIf="supplierForm.controls['address']?.invalid && supplierForm.controls['address']?.touched">
                          <small class="text-danger" *ngIf="supplierForm.get('address')?.errors?.['required']">Address is required.</small>
                          <small class="text-danger" *ngIf="supplierForm.get('address')?.errors?.['minlength']">Address must be at least 10 characters long.</small>
                        </div>
                      </div>
                    </div>

                
                
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="password" type="password" id="form3Example4c" class="form-control" [(ngModel)]="password"/>
                        <label class="form-label" for="form3Example4c">Password</label>
                        <div *ngIf="supplierForm.controls['password']?.invalid && supplierForm.controls['password']?.touched">
                          <small class="text-danger" *ngIf="supplierForm.get('password')?.errors?.['required']">Password is required.</small>
                          <small class="text-danger" *ngIf="supplierForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-check d-flex justify-content-center mb-5">
                      <input formControlName="isAgree" class="form-check-input me-2" type="checkbox" value=""
                        id="form2Example3c" />
                      <label class="form-check-label" for="form2Example3">
                        I agree to all statements in <a href="#!">Terms of service</a>
                      </label>
                      <div *ngIf="supplierForm.controls['isAgree']?.invalid && supplierForm.controls['isAgree']?.touched">
                        <small class="text-danger" *ngIf="supplierForm.get('isAgree')?.errors?.['requiredTrue']">You must agree before submitting.</small>
                      </div>
                    </div> -->
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">Register</button><br><br>
                    </div>
                    
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      Already have an account?<a href="/suppilerlogin">Login</a>
                      </div>
                  </form>
  

                 

                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  