.navbar {
  color: white; 


}

.navbar-nav .nav-link,
.navbar-brand {

  float: left;
  padding: 12px;
color: white;
text-decoration: none;
font-size: 17px;
width: 11.15%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
text-align: center; /* If you want the text to be centered */
  color: white !important; 

}

.navbar-toggler-icon {
  background-color: white; 
}

.dropdown-menu .dropdown-item {
  color: black;
}
.navbar-nav .nav-link:hover,
.navbar-brand:hover {
  color: #f8f9fa !important;
}
