<div class="First">
    <nav class="navbar navbar-expand-lg" style="background-color: #394648;">
        <div class="container-fluid">
          <a class="navbar-brand offset-0.5" href="#">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item offset-0.5">
                <a class="nav-link active" aria-current="page" href="/aboutus">About Us</a>
              </li>
              <li class="nav-item offset-0.5">
                <a class="nav-link" href="#">Products</a>
              </li>
              <li class="nav-item dropdown offset-0.5">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Categories
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Men</a></li>
                  <li><a class="dropdown-item" href="#">Women</a></li>
                  <li><a class="dropdown-item" href="#">Girls</a></li>
                  <li><a class="dropdown-item" href="#">Boys</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex col-3 offset-0.5" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
            <div class="login offset-6">
             <button class="btn btn-outline-warning" type="submit">Login</button>
            </div>
               </div>
             </div>
             </nav>
<h1> Fashion Collection Policy Privacy</h1>
<div class="container">
<img src="privacy.jpg">
</div>
<h2>For What Purposes Does Fashion Collection Use Your Personal Information?</h2>
<p><b>We use your personal information to operate, provide, develop, and improve the products and services that we offer our customers. These purposes include:

Purchase and delivery of products and services.<br> We use your personal information to take and handle orders, deliver products and services, process payments, and communicate with you about orders, products and services, and promotional offers.
Provide, troubleshoot, and improve Fashion Collection Services. We use your personal information to provide functionality, analyze performance, fix errors, and improve the usability and effectiveness of the Fashion Collection Services.
Recommendations and personalization. <br>We use your personal information to display interest-based ads for features, products, and services that might be of interest to you. <br>We do not use information that personally identifies you to display interest-based ads. To learn more, please read our Interest-Based Ads notice.
Fraud Prevention and Credit Risks. We use personal information to prevent and detect fraud and abuse in order to protect the security of our customers, Fashion Collection, and others. We may also use scoring methods to assess and manage credit risks.</b></p>
</div>